:root {
    --primary-color: #007BFF;
    --primary-black-color: #003166;
    --primary-black-color-hover: #003166c4;
    --secondary-color: #FF7F50;
    --secondary-black-color: #EB3F00;
    --success-color: #28A745;
    --error-color: #fe1414;
    --text-color: #2F3945;
    --background-color: #f9fafb;
    --font-family: "Poppins", sans-serif;
  }